.input-form {
    margin: 15px 0px;
}

.input-form>button {
    margin: 15px 15px 0px 0px;
}

.col-lg-6>button {
    margin: 0px 15px 15px 0px;
}

.input-form>input {
    margin: 5px 0px;
}

.points-table {
    margin: 15px 0px;
}

.sort-header {
    text-decoration: underline;
}

.sort-header:hover {
    cursor: pointer;
    color: #0069d9;
}

.map {
    margin: 10px 0px;
}